.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.photo-card {
  width: auto;
  box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  overflow: hidden;
  background-color: rgba(157, 193, 204, 0.5);
}

.photo-card img {
  height: 20em;
  width: 25em;
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

.photo-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.search-form input {
  width: 300px;
  height: auto;
  font-size: 16px;
  line-height: 2em;
  outline: none;
  border-radius: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form input::placeholder {
  font-size: 16px;
  color: #cccccc;
}
.search-form button {
  width: 150px;
  height: auto;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background-color: rgb(157, 193, 204);
}

.load-more {
  width: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background-color: rgb(157, 193, 204);
}
.load-more:hover,
.load-more:focus {
  color: black;
  background-color: rgba(255, 255, 126, 1);
}

.load-more:disabled {
  background-color: #ccc;
  color: #666;
  font-size: 14px;
  border: 1px solid #999;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
